body {
    font-family: Arial, sans-serif;
    background-color: #aaaaaa; 
    margin: 20px;
}
nav {
    position: sticky;
    top: 0px;
}
.navigation {
    background-color: white;
    border-radius: 20px;
    height: 60px;
    padding: 20px 20px;
    box-sizing: border-box;
}
.navigation-item {
    display: inline-block;
}
.profile-card {
    background-color: #ffffff; 
    border: 5px solid #007bff; 
    padding: 25px;
    width: 580px;
}
#name-header {
    font-size: 1.3em;
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 15px;
}
.title-text {
    font-size: 1em;
    font-weight: bold;
    color: #555; 
    margin-bottom: 10px;
}
.profile-card p {
    font-size: 0.9em;
    font-weight: bold;
    color: #333; 
}
.contact-info a {
    color: #fff;
    background-color: #007b; 
    padding: 6px 12px;
    display: inline-block;
}

