
body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background: rgb(235, 233, 233);
}

.logo {
    max-height: 70px;
    border-radius: 25px;
}

.post1 {
    height: 225px;
    width: 100%;
    object-fit: cover;
}

.post2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.item {
    text-align: center;
    font-size: 2rem;
}

.item2 {
    grid-column: 2 / 4;
    background: rgb(233, 233, 233);
    color: white;
}

.item3 {
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
}

.item3-1 {
    grid-column: 2 / span 4;
    grid-row: 6 / span 3;
}

.item7-1 {
    grid-column: 7 / span 5;
    grid-row: 2 / span 3;
}

.item8-1 {
    grid-column: 7 / span 5;
    grid-row: 6 / span 3;
}
.item4, .item5, .item6 {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #333; 
}
