body{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:    repeat(9, 1fr);
    background-color: rgb(235, 233, 233);

}
.logo {
    /* max-width: 100%; */
    /* height: auto; */
    max-height: 70px;
    border-radius: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

.post1{
    height: 225px;

}
.post2{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item{
    text-align: center;
    font-size: 2rem;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(233, 233, 233);
    color: white;

}
.item3{
  grid-column-start: 2;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 3;
  /* background-color:wheat; */
}
.item3-1{
  grid-column-start: 2;
  grid-column-end: span 4;
  grid-row-start: 6;
  grid-row-end: span 3;
  /* background-color:wheat; */
}
.item7-1{
  grid-column-start: 7;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: span 3;
  /* background-color:wheat; */
}
.item8-1{
    grid-column-start: 7;
    grid-column-end: span 5;
    grid-row-start: 6;
    grid-row-end: span 3;
    /* background-color:wheat; */
}
 