.dice-board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 20px;
  padding: 20px;
}

.dice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100px;
  height: 100px;
  background: #eee;
  border: 2px solid #333;
}

.dot {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.top-left     { 
    grid-column: 1; grid-row: 1;
 }
.top-right    { 
    grid-column: 3; grid-row: 1; 
}
.middle-left  
{ grid-column: 1; grid-row: 2; 
}
.center {
     grid-column: 2; grid-row: 2; 
    }
.middle-right 
{ grid-column: 3; grid-row: 2;
 }
.bottom-left  { 
    grid-column: 1; grid-row: 3; 
}
.bottom-right {
     grid-column: 3; grid-row: 3;
     }
