*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: red;
    height: 700px;
    width: 900px;
    display: grid;
    /*grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    justify-items: center;
    align-items: center;
}
.item{

    background-color: aqua;
    text-align: center;
    width: 122px;
}
.item1{
    background-color: aqua;
    text-align: center;
    grid-column-start: 1;/*they start with line number*/
    grid-column-end: 4;
}
