.container {
  display: flex;
  height: 150px;
  border: 2px solid #333;
}
.item {
  flex-grow: 1;
  flex-shrink: 1;
  background: lightblue;
  margin: 5px;
  text-align: center;
}
.big {
  flex-grow: 2; 
}
.no-shrink {
  flex-shrink: 1; 
}
.special {
  align-self: flex-start; 
}
