.container {
    display: grid;
    text-align: center;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 300px 100px;
    gap: 10px;
    
}
.item {
    border: 2px solid black; 
    padding: 10px;
}
.header {
    grid-column: 1 / 3;
    background-color: thistle;
}
.sidebar {
    grid-column: 1 / 2;
    background-color: burlywood;
}
.main {
    grid-column: 2 / 3;
    background-color: teal;
}

.footer {
    grid-column: 1 / 3;
    background-color: steelblue;
}
