.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 80px 80px;
}

.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.item3 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}