.grid {
  display: grid;

  grid-template-columns:
    [left] 200px
    [middle] 1fr
    [right] 200px;
}
.header {
  grid-column: left / right; /* spans col1 + col2 */
}

.sidebar {
  grid-column: left / middle; /* col1 */
}

.content {
  grid-column: middle / right; /* col2 */
}
