.container {
  display: grid;
  grid-template-columns:
      [start] repeat(auto-fit, minmax(200px, 1fr)) [end];
  gap: 20px;
}
.header {
  grid-column: start / end;  
  background: lightgreen;
  padding: 20px;
  font-size: 24px;
}

.card {
  background: peachpuff;
  padding: 20px;
  border-radius: 8px;
}
