
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  flex-shrink: 0; 
  position: sticky;
  top: 0; 
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.main {
  display: flex;
  flex: 1; 
  overflow: hidden; 
}

.sidebar {
  width: 200px;
  background-color:aquamarine;
  flex-shrink: 0;
  position: sticky;
  top: 0; 
  overflow-y: auto; 
  padding-top: 20px;
}

.sidebar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}


.sidebar a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
