.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 10px; /* adds 10px space between items */
}
.item{
    background: lightblue;
    padding: 20px;
}