div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    text-align: center;
    line-height: 2px;
    border-width: 2px;
    border-style: solid;
   padding-left: 25px;
   margin-top: 50px;
}
